# Aula 1 - Phyton

In [1]:
1 + 2

3

In [2]:
4/2

2.0

In [3]:
2 * 8

16

In [6]:
print('Marcio')

Marcio

In [25]:
nest=[1,2,3,[4,5,['target']]]

In [26]:
print(nest[1])

2

In [50]:
print(nest[3][1])

5

In [63]:
print(nest[3][2][0])

target

In [61]:
plist = nest[3][2]

In [62]:
print(plist)

['target']

In [136]:
# Listas 

lista1 = [4,2,67,5,10]
lista1.sort()
print(lista1)

[2, 4, 5, 10, 67]

In [74]:
lista2 = [4,2,67,'aula',5,10,'teste']
lista2.sort()
print(lista2)

TypeError: '<' not supported between instances of 'str' and 'int'

In [80]:
lista3 = ['teste','aula','banana']
lista3.sort()
print(lista3)

['aula', 'banana', 'teste']

In [77]:
lista4 = [4,2,67,5,10,[11,3,1000,150]]
lista4.sort()
print(lista4)

TypeError: '<' not supported between instances of 'list' and 'int'

In [84]:
lista5 = [4,2,67,5,10]
lista5.sort(reverse=True)
print(lista5)

[67, 10, 5, 4, 2]

In [137]:
# Dictionary - Dicinarios - SImular Jason

dic = {'k1': 1, 'k2': 'aula', 'k3': 10}
print(dic['k3'])

10

In [98]:
dic2 = {'k1': 1, 'k2': 'aula', 'k3': [1,2,3]}
print(dic2['k3'][1])

2

In [108]:
lista6 = [1,2,3,'banana',[4,5,6],('t1','t2')]
tuple1 = (1,2,3,'banana',[4,5,6],('t1','t2'))

In [109]:
lista6[0] = 'oi'

In [110]:
print(lista6)

['oi', 2, 3, 'banana', [4, 5, 6], ('t1', 't2')]

In [111]:
# Tuple - Similar Lista, porem nao pode trocar valores das posições igual a lista

tuple1[0] = 'oi'

TypeError: 'tuple' object does not support item assignment

In [135]:
# Sets - Consjuntos (Informações não repetidas)
conjunto1 = {1,2,3,'banana'}

In [118]:
conjunto1 = {1,2,3,'banana',1,2,3,'teste','banana'}

In [119]:
print(conjunto1)

{1, 2, 3, 'teste', 'banana'}

In [129]:
lista7 = list(conjunto1)

In [130]:
print(lista7)

[1, 2, 3, 'teste', 'banana']

In [133]:
print(lista7 [4])

banana

In [138]:
# Operadores de Comparação

1 < 2

True

In [139]:
1 >= 1

True

In [142]:
1 != 1

False

In [143]:
(1 > 2) and (10 < 100) and (1 >= 1)

False

In [144]:
(1 > 2) or (10 < 100) or (1 >= 1)

True

In [145]:
(1 > 2) and (10 < 100) or (1 >= 1)

True

In [146]:
if (1 < 2 ):
print ('oi')

IndentationError: expected an indented block (<ipython-input-146-7282229f6d77>, line 2)

In [147]:
# If - Condicional

if (1 < 2 ):
    print ('oi')

oi

In [150]:
x = 10

if (x < 0):
    print('1')
elif (x >= 0) and (x < 10):
    print(2)
else:
    print(3)

3

In [152]:
#For Loops

for i in[1,2,3]:
    print(i)

1
2
3

In [156]:
# For com Lista
for i in [1,2,3]:
    print('oi')

oi
oi
oi

In [157]:
# For com Tuple
for i in (1,2,3):
    print(i)

1
2
3

In [172]:
# For com Dicionario
d = {'k1': 1,'k2': 2,'k3': 3}
for i in d:
    print(i,"=",d[i])

k1 = 1
k2 = 2
k3 = 3

In [180]:
# While Loops

i = 1
while (i < 5):
    print ('i é = {}'. format(i))
    i = i + 1

i é = 1
i é = 2
i é = 3
i é = 4

In [181]:
# While com Tuple

i = 1
while (i < 5):
    print ('i é = ', i)
    i = i + 1

i é =  1
i é =  2
i é =  3
i é =  4

In [183]:
# Fun~ções Phyton - RANGE

for i in range(5):
    print(i)

0
1
2
3
4

In [185]:
# Parametros RANGE = range (inicio, final, incremento) - Retorna um objeto Tipo Range (não é uma lista).

for i in range (10,100,10):
    print(i)

10
20
30
40
50
60
70
80
90

In [186]:
for i in range (0,-5,-1):
    print(i)

0
-1
-2
-3
-4

In [190]:
# LEN - Retorna o tamanho

s = len([1,2,3,4,5])
print('Quantos numeros tem na lista = ', s)

Quantos numeros tem na lista =  5

In [191]:
s1 = len('Ola, tudo bem ?')
print('Quantos caracteres tem na lista = ', s1)

Quantos caracteres tem na lista =  15

In [193]:
# ENUMERATE - Espera uma Lista, Tuple e Dicionario

l = ('banana','maça','uva')
for i in enumerate(l):
    print(i)

(0, 'banana')
(1, 'maça')
(2, 'uva')

In [201]:
# LIST COMPREHENSION

x = [1,2,3,4] 
[item**2 for item in x]

[1, 4, 9, 16]

In [203]:
x = [1,2,3,4] 
[item**2 for item in x if item < 3]

[1, 4]

In [212]:
l = ['João','Antonio','Alfredo']
s = ['da Silva', 'de Souza']

[item + 'da Silva ' if 'J' in item else item + 'de Souza']

NameError: name 'item' is not defined

In [217]:
# Function

def square(x):
    return x**2

square(2)

4

In [221]:
# Lambda Expression

x = lambda var: var**2
x(2)

4

In [225]:
# Map and Filter - MAP = Executa o calcula da função em cada elemento da lista "seq", gerando uma saida do tipo MAP.

seq = [1,2,3,4,5]

def times2(x):
    return x*2

map(times2,seq)

In [226]:
# Converte a lista MAP

list(map(times2,seq))

[2, 4, 6, 8, 10]

In [233]:
# Filter -> Devolve os item que atenderem o condicional 

filter(lambda var: var%2 == 0, seq)

In [234]:
list(filter(lambda var: var%2 == 0, seq))

[2, 4]